 <!DOCTYPE html>
<html>
<!-- Note: opening this as a file will not work with leading / in hrefs  -->
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="styles.css">
    <title>Help</title>
</head>
<body>
    <div class="topnav">
        {{range $i, $f := .Files}}        
        <a id="nav{{$i}}" onClick="setMD({{- $i -}})">{{$f}}</a>
        {{end}}
    </div> 
    <div id="content"></div>
    <script src="marked.min.js"></script>
    <script>
        marked.use({
            gfm: true,
        })

        const contentArray = [
        {{range $i, $c := .Contents}}
            ["nav{{$i}}", {{$c}}], 
        {{end}}
        ]

        selectedIndex = 0

        function setMD(i) {
            document.getElementById("content").innerHTML =
                marked.parse(contentArray[i][1]);
            document.getElementById("nav"+selectedIndex).removeAttribute("class")
            document.getElementById("nav"+i).setAttribute("class", "active")

            selectedIndex = i
        }

        setMD(0)
    </script>
</body>
</html> 
